* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

.brand {
	text-align: center; 
	background-color: white; 
	width: 18%; 
	margin: 10px auto; 
	padding: 5px; 
	border-radius: 30px;
}

.bg {
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

h1, h3, p {
	text-align: center;
	color: black;
}

p {
	font-size: 20px;
}

.head {
	margin-bottom: 30px;
	margin-top: -5px;
	font-size: 30px;
	font-weight: bolder;
}

.sub {
	border: 5px solid black;
	margin: 0 auto;
	position: relative;
	width: 45%;
}

.super {
	border: 2px solid black;
	margin: 0 auto;
	position: relative;
	background-color: hsla(100, 100%, 100%, 0.4);
	/*width: 50%; */
}

.btn {
	text-align: center;
	background-color: hsla(89, 100%, 100%, 0.5);
	color: black;
	font-weight: bold;
	font-size: 15px;
	border: 3px solid black;
	border-radius: /*5px;*/
	width: 120px;
	height: 40px;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

button:hover {
	background-color: white;
}

.header {
  padding: 10px 16px;
  background: black;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
